@import 'vars';

.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;

  .intro {
    padding: 1.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button {

  }
}
