@import 'vars';

header {
  padding: 2em 1.5em 0 1.5em;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.savedData {
  box-sizing: border-box;
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .row {
    width: 100%;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey80;

    > .key {
      text-transform: uppercase;
      color: $grey60;
    }

    &.err > * {
       color: $red50;

      &:first-of-type {
        padding-left: 2em;
        position: relative;

        &::before {
          content: '';
          color: $red50;
          background-image: url('/warning_icon.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: 0;
          top: 50%;
          height: 1em;
          width: 1em;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button {
  }
}
