<!DOCTYPE html>
<html>

<head>
<link href="stylesheets/style.css" rel="stylesheet">
<title>expense</title>
</head>

<body>
  <h1>Welcome to /expense</h1>

  <% if (locals.message) { %>
  <p><%= locals.message %></p>
  <% } %>

  <form action="http://localhost:3000/expense/" method="post" id="f">
      <input type="text" name="username" placeholder="@your-username">
      <div class="button" onclick="document.getElementById('f').submit()">That's me!</div>
  </form>
</body>

<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

</html>
