<!DOCTYPE html>
<html>

<head>
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>expense</title>
</head>

<body>
    <div class="banner">
        <h1>Page not found.</h1>
        <p>Return to <a href="http://localhost:3000/">home</a>
    </div>
    <div class="footer">
    </div>
</body>

<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

</html>
