<!DOCTYPE html>
<html>

<head>
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>expense</title>
</head>

<body>
    <div class="banner">
        <h1>Expense Tracker</h1>
    </div>
    <div>
      <p>todo</p>
    </div>

    <form action="http://localhost:3000/expense/slack/" method="post">
        <input type="submit" value="Request">
    </form>

    <div class="footer">
    </div>
</body>

</html>
