<!DOCTYPE html>
<html>

<head>
<link href="stylesheets/style.css" rel="stylesheet">
<title>expense</title>
</head>

<body>
    <div class="banner">
        <h1>Expense Tracker</h1>

        <% if (locals.message) { %>
        <p><%= locals.message %></p>
        <% } %>

        <form action="http://localhost:3000/expense/" method="post">
            <input type="text" name="username" placeholder="@your-username">
            <input type="submit" value="Request">
        </form>
    </div>

    <div class="footer">
    </div>
</body>

<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

</html>
